<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
    </system.web>
  <appSettings>
    <add key="url" value="http://sample.data.crea.ca"/>
    <add key="username" value="CXLHfDVrziCfvwgCuL8nUahC"/>
    <add key="password" value="mFqMsCSPdnb5WO1gpEEtDCHH"/>
    <add key="lastupdated" value="2011-05-08T22:00:17Z"/>
    <add key="ids" value="832356,832357"/>
    <add key ="PropPhotoId" value="11937196:1"/>
    <add key ="AgentPhotoId" value="1598001:1"/>
    <add key ="OfficePhotoId" value="832356:1"/>
  </appSettings>
</configuration>
